<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>4C Solutions</h3>
                    <p>We are professionals to support your business needs and improve your operational performance.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#about">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#services">Our Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/TermsAndConditions">Terms and Conditions</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        MIG-22, 1st Phase<br>
                        Adarsh Nagar, Kalaburagi - 585105<br>
                        Karnataka, India<br>
                        <strong>Phone:</strong> +91 98865 79707<br>
                        <strong>Email:</strong> info@4csolutions.in<br>
                    </p>

                    <!--div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div-->

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to get notified of all the latest updates and releases.</p>
                    <form action="" method="post" class="subscribeForm">
                        <input type="email" name="footer-subscribe-email"><input name="footer-subscribe-button"
                            type="submit" value="Subscribe">
                        <div class="validation"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>4C Solutions</strong>. All Rights Reserved
        </div>
        <div class="credits">            
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- #footer -->
