include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include website_4cs *.css
recursive-include website_4cs *.csv
recursive-include website_4cs *.html
recursive-include website_4cs *.ico
recursive-include website_4cs *.js
recursive-include website_4cs *.json
recursive-include website_4cs *.md
recursive-include website_4cs *.png
recursive-include website_4cs *.py
recursive-include website_4cs *.svg
recursive-include website_4cs *.txt
recursive-exclude website_4cs *.pyc