    <link type="text/css" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/lightbox.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/style.css">