{% extends "templates/master.html" %}
{% block title %}ERP for Education{% endblock %}

{% block carousel %}{% endblock %}

{% block style_4cs %}
{% include "/templates/includes/css.html" %}
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/4cs_style.css">
{% endblock %}

{% block script_4cs %}
{% include "/templates/includes/scripts.html" %}
{% endblock %}

{% block content %}
<main id="main">
    <section id="education">
        <div class="container">

            <header class="section-header">
                <h3>ERP for Education</h3>
                <p>Adopting ERP technology in education system is vital for success.</p>
            </header>

            <p class="text-center">
                <b>4C Solutions</b> provides innovative and cost effective ERP (Enterprise Resource Planning) services
                for the education sector,
                solving many problems and challenges posed by budgets, the need for collaboration, tools to deal with
                multiple institutes under
                a single management and accountability. We intend our educational customers to concentrate on their core
                competency:
                <b>Education</b>. Our comprehensive portfolio of solutions creates significant value for K-12 Schools,
                Colleges, Universities and
                other Educational Institutions.
            </p>

            <div class="card-deck">
                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Setup</h6>
                        <p class="card-text">Program, Course, Topic, Instructor, Room, Student Category, Academic Term,
                            Academic Year</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Student Information</h6>
                        <p class="card-text">Student Details, Guardian Details, Student Log, Student Batch, Student
                            Group</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Admissions Management</h6>
                        <p class="card-text">Student Applicant, Program Enrollment, Program Enrollment Tool, Student
                            Admission</p>
                    </div>
                </div>
            </div>

            <div class="card-deck">
                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Fees Management</h6>
                        <p class="card-text">Fee Records, Fee Structure, Fee Category, Fee Schedule</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Attendance Management</h6>
                        <p class="card-text">Student Attendance, Student Attendance Tool, Student Leave Application</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Online Learning Management System</h6>
                        <p class="card-text">Publish Articles, Videos & Quizzes, Track Student Progress</p>
                    </div>
                </div>
            </div>

            <div class="card-deck">
                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Assessments</h6>
                        <p class="card-text">Assessment Criteria, Assessment Group, Assessment Plan, Grading Scale,
                            Assessment Result</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Schedule/Time Table</h6>
                        <p class="card-text">Course Schedule, Course Schedule Tool, Calendar View</p>
                    </div>
                </div>

                <div class="card shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-body">
                        <h6 class="card-title">Core Modules</h6>
                        <p class="card-text">Accounts, Stock, Human Resources, Employee Payroll, Asset Management,
                            Vendor Management, CRM & many more
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #terms -->

    <!--==========================
      Call To Action Section
    ============================-->
    {% include "templates/includes/sections/call_to_action.html" %}

</main>
{% endblock %}