{% extends "templates/master.html" %}
{% block title %}ERP for Education{% endblock %}

{% block carousel %}{% endblock %}

{% block style_4cs %}
<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/ionicons.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/owl.carousel.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/lightbox.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/style.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/custom.css">
{% endblock %}

{% block script_4cs %}
<script type="text/javascript" src="/assets/website_4cs/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/easing.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/hoverIntent.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/superfish.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/wow.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/counterup.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/contactform.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/main.js"></script>
{% endblock %}

{% block content %}
<main id="main">
    <section id="education">
        <div class="container">

            <header class="section-header">
                <h3>ERP for Education</h3>
                <p>Adopting ERP technology in education system is vital for success.</p>
            </header>

            <p>
                <b>4C Solutions</b> provides innovative and cost effective ERP (Enterprise Resource Planning) services for the education sector, 
                solving many problems and challenges posed by budgets, the need for collaboration, tools to deal with multiple institutes under 
                a single management, and accountability. We intend our educational customers to concentrate on their core competency: <b>Teaching</b>.
                Our comprehensive portfolio of solutions creates significant value for K-12 Schools, Colleges, Universities and other Educational Institutions.
            </p>
            
            <!--div class="row my-5">

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Student Data</h6>
                    </div>
                </div>

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Admissions Management</h6>
                    </div>
                </div>

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Fees Collection</h6>
                    </div>
                </div>

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Attendance Management</h6>
                    </div>
                </div>

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Assessments</h6>
                    </div>
                </div>

                <div class="card shadow-sm col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">                    
                    <div class="card-body text-center">
                        <h6 class="card-title">Employee Payroll</h6>
                    </div>
                </div>
            </div-->

        </div>
    </section><!-- #terms -->

</main>
{% endblock %}