{% extends "templates/master.html" %}
{% block title %}ERP Healthcare{% endblock %}

{% block carousel %}{% endblock %}

{% block style_4cs %}
<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/ionicons.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/owl.carousel.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/lightbox.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/style.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/custom.css">
{% endblock %}

{% block script_4cs %}
<script type="text/javascript" src="/assets/website_4cs/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/easing.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/hoverIntent.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/superfish.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/wow.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/counterup.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/contactform.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/main.js"></script>
{% endblock %}

{% block content %}
<main id="main">
    <section id="healthcare">
        <div class="container">

            <header class="section-header">
                <h3>ERP Healthcare</h3>
            </header>

            <p>Under Construction</p>
        </div>
    </section><!-- #terms -->

</main>
{% endblock %}