{% extends "templates/master.html" %}

{% block intro %}
{%- include "templates/includes/intro/intro.html" -%}
{% endblock %}

{% block style_4cs %}
{% include "/templates/includes/css.html" %}
{% endblock %}

{% block script_4cs %}
{% include "/templates/includes/scripts.html" %}
{% endblock %}

{% block content %}
<main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>We are a start-up firm of Software Products & Information Technology (IT) services, aiming to help
                    MSME (Micro, Small and Medium Enterprises) and Education sector. We work hard to streamline &
                    optimize their processes and operations with the help of customized open-source technologies to
                    increase their productivity and business by manifold.</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-6 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/website_4cs/images/about-mission-digital.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-arrow-graph-up-right"></i></div>
                        </div>
                        <h2 class="title">Our Mission</h2>
                        <p> To provide the most comprehensive, high performance, high quality, cost effective, easy to
                            use ERP solutions and
                            business support services to our customers. Our solutions enable & empower our customers to
                            focus on their
                            core competencies by reducing thier efforts in accordance to the Pareto Principle(80/20
                            rule).</p>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/website_4cs/images/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title">Our Vision</h2>
                        <p> The <b>MSME</b> (Micro, Small and Medium Enterprises) sector plays a vital role in any
                            country’s socio-economic
                            transformation and in meeting the objectives of employment generation and reducing
                            urbanization.
                            <b>4C Solutions</b> wants to support MSMEs in becoming high performing organizations and in
                            turn be part of
                            the transformation they bring.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p>
                    4C Solutions is committed to improve operational performance with open source consulting and
                    implementation services across industries.
                </p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="/education.html">ERP for Education</a></h4>
                    <p class="description">Student Data, Admission Management, Attendance, Fee Management, Accounting &
                        Payroll etc.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-pulse"></i></div>
                    <h4 class="title"><a href="/healthcare.html">ERP for Healthcare</a></h4>
                    <p class="description">Patient Data, Appointments, Lab Tests, Pharmacy, Accounting & Patient Billing
                        etc.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-location-outline"></i></div>
                    <h4 class="title"><a href="/fleet.html">Fleet Management</a></h4>
                    <p class="description">Live Tracking, Location History, Trip Chart and Summary Reports, Email and
                        SMS Alerts etc.</p>
                </div>

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    {% include "templates/includes/sections/call_to_action.html" %}

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Our Clients</h3>
            </header>

            <div class="owl-carousel clients-carousel">
                {% if client_images %}
                {% for client in client_images %}
                <img src="{{client['customer_logo']}}" alt="{{client['customer_name']}}">
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </section><!-- #clients -->

    <!--==========================
        Testimonials
      ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="owl-carousel testimonials-carousel">

                {% if testimonial_items %}
                {% for testimonial in testimonial_items %}
                <div class="testimonial-item">
                    <img src="{{testimonial['image']}}" class="testimonial-img" alt="">
                    <h3>{{ testimonial['contact_name'] }}</h3>
                    <h4>{{ testimonial['designation'] }} , {{ testimonial['customer'] }}</h4>
                    <p>
                        <img src="assets/website_4cs/images/quote-sign-left.png" class="quote-sign-left" alt="">
                        {{ testimonial['testimonial'] }}
                        <img src="assets/website_4cs/images/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>
                {% endfor %}
                {% endif %}

            </div>

        </div>
    </section><!-- #testimonials -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>Reach out for a <b>FREE</b> cloud instance to try our ERP Software Services.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>MIG-22, 1st Phase, Adarsh Nagar <br> Kalaburagi-585105, Karnataka, India</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+919886579707">+91 98865 79707</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@4csolutions.in">info@4csolutions.in</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>
{% endblock %}