{% extends "templates/master.html" %}
{% block title %}Terms of Service{% endblock %}

{% block carousel %}{% endblock %}

{% block style_4cs %}
<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/ionicons.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/owl.carousel.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/lightbox.min.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/style.css">
<link type="text/css" rel="stylesheet" href="/assets/website_4cs/css/terms.css">
{% endblock %}

{% block script_4cs %}
<script type="text/javascript" src="/assets/website_4cs/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/easing.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/hoverIntent.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/superfish.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/wow.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/counterup.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/contactform.js"></script>
<script type="text/javascript" src="/assets/website_4cs/js/main.js"></script>
{% endblock %}

{% block content %}
<main id="main">
    <!--==========================
      Terms of Service
    ============================-->
    <section id="terms">
        <div class="container">

            <header class="section-header">
                <h3>Terms and Conditions of EULA</h3>
            </header>
        
            <p>
                This is the <b>End User License Agreement (EULA)</b> between you or the entity that you represent and 4C Solutions, 
                governing your use of 4C Solutions' range of products (hereinafter referred as "Services"). By using the "Services" 
                you confirm that you are agreeing to be bound by the following terms and conditions.<br> 
                That you are responsible for maintaining the security, integrity, health, and backups of your database. 
                4C Solutions can't and won't be liable for any loss or damage of your failure to comply with this obligation.<br> 
                That you will not use the "Services" for any illegal or unauthorized purpose. You will not, in the use of the "Services", 
                violate any laws in your jurisdiction (including but not limited to copyright laws).
            </p>        

            <h4>Modifications of the Terms and Conditions of EULA</h4>
            <p> 
                4C Solutions reserves the right to update and change the Terms and Conditions of EULA from time to time with or without addition 
                of new features that augment or enhance the current "Services", including the release of updates. Continued use of the "Services" 
                after any such changes shall constitute your consent to such changes. You can review the most current version of these Terms 
                and Conditions at any time by visiting https://4csolutions.in/TermsAndConditions
            </p>

            <h4>Restrictions on Use</h4>
            <p>You agree to use the "Services" solely for your use or the entity that you represent. You agree not to enable public any 
                performance or other activities prohibited by applicable copyright law. You agree not to:
                <ol type="i">
                    <li>Rent, lease, license, sublicense or distribute the "Services" on a stand-alone basis or as part of your application.</li>
                    <li>Allow any third parties to access or use the "Services".</li>
                    <li>Resell or sublicense any aspect of the "Services".</li>
                </ol>
            </p>
            
            <h4>Technical Support</h4>
            <p> 4C Solutions provides the support that includes: 
                <ol type="i">
                    <li>Email support for problem reporting.</li>
                    <li>Remote computer control support for problem resolution. </li>
                    <li>Product updates.</li>
                </ol>
                <b>To avail, the Technical Support, explicit purchase of 4C Solutions AMC (annual maintenance contract – valid for one year) 
                    is required.</b>
            </p>
            
            <h4>Warranty Disclaimer</h4>
            <p>
                4C Solutions does not warrant that the "Services" will be error-free. Except as provided herein, the "Services" are furnished
                "as is" without warranty of any kind, including the warranties of merchantability and fitness for a particular purpose and 
                without warranty as to the performance or results you may obtain by using the "Services". You are solely responsible for 
                determining the appropriateness of using the "Services" and assume all risks associated with the use of it, including but not 
                limited to the risks of program errors, damage to programs or equipment, and unavailability or interruption of operations.
            </p>

            <h4>Limitation of Liability</h4>
            <p>
                Under no circumstances shall 4C Solutions, or their respective parents, affiliates, directors, employees, distributors, 
                suppliers, agents or resellers (collectively, the "4C Solutions") be liable for any indirect, special, incidental, 
                consequential, punitive, exemplary damages, or damages for loss of business, loss of profits, business interruption, or loss
                of business information that result from the use of, or inability to use, the "Services". This limitation applies whether 
                the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if 4C Solutions 
                has been advised of the possibility of such damage. Additionally, under no circumstances shall 4C Solutions be held 
                responsible or liable, directly or indirectly, for any loss or damage caused or alleged to have been caused to you in 
                connection with the use of or reliance on any content, goods or services available on or through any external sites linked 
                from the site. 4C Solutions is not responsible for, and shall have no liability for, the loss of or damage to your content 
                and documents including any loss or damage resulting from the suspension or termination of the "Services" or this agreement. 
                You are responsible for maintaining the security, integrity, health, and backups of your database.
            </p>
            
            <h4>Indemnification</h4>
            <p>
                Upon a request by 4C Solutions you agree to defend, indemnify, and hold 4C Solutions harmless along with their other 
                affiliated companies, and their employees, contractors, officers, and directors from all liabilities, claims, and expenses, 
                including attorney's fees, that arise from your misuse of "Services" or from your failure to comply with these Terms and 
                Conditions. 4C Solutions reserves the right, at its own expense, to assume the exclusive defence and control of any matter 
                otherwise subject to indemnification by you, in which event you will cooperate with 4C Solutions in asserting any available 
                defences.
            </p>

            <h4>Governing Law</h4>
            <p>
                Any claim relating to 4C Solutions "Services" shall be governed by the laws of the Kalaburagi, state of Karnataka, India 
                without regard to its conflict of law provisions. You expressly agree that the exclusive jurisdiction for any claim or action 
                arising out of or relating to this Agreement or your use of the "Services" shall be filed only in the Kalaburagi courts, and 
                you further agree and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any such 
                claim or action.
            </p>

            <h4>Severability and Integration</h4>
            <p>
                Unless otherwise specified herein, this Agreement constitutes the entire agreement between you and 4C Solutions with respect 
                to the "Services" and supersedes all prior or contemporaneous communications and proposals (whether oral, written, or electronic)
                between you and 4C Solutions with respect to the "Services". If any part of this Agreement is held invalid or unenforceable, 
                that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original 
                intentions of the parties, and the remaining portions shall remain in full force and effect.
            </p>

        </div>
    </section><!-- #terms -->

</main>
{% endblock %}