/*--------------------------------------------------------------
# Terms of Service
--------------------------------------------------------------*/

#header {
  background: rgba(0, 0, 0, 0.9);
}

#terms, #education, #healthcare, #fleet {
    padding: 120px 0;
}

.card {
  z-index: 10;
  margin: 20px;
}

.card-body .card-text{
  color: grey;
  text-align: center;
}

.card-title {
  color: #18d26e;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline;
}

.card .card-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.card-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}