/*--------------------------------------------------------------
# Terms of Service
--------------------------------------------------------------*/

#terms, #education, #healthcare, #fleet {
    padding: 120px 0;
}

p {
  text-align: justify;
}

#header {
    background: rgba(0, 0, 0, 0.9);
}

.card {
  z-index: 10;
  margin: 20px;
}

.card-body {
  color: #8d99a6;
}

.card-body .card-title, .card-body h5 {
  color: #000000;
}