/*--------------------------------------------------------------
# Terms of Service
--------------------------------------------------------------*/

#terms {
    padding: 120px 0;
}

#terms p {
  text-align: justify;
}

#header {
    background: rgba(0, 0, 0, 0.9);
}